.aside-bg {
  background-color: #00000099;

  width: 100vw;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  z-index: 500;
  transition: all 0.8s;
}
.aside-bg.deactive {
  opacity: 0;
  z-index: -500;
}

.cart-wrapper {
  width: 60vw;
  height: calc(100vh - 80px);
  background-color: #fff;
  opacity: 1;
  position: fixed;
  top: 80px;
  right: 0;
  overflow: auto;

  transition: right 0.8s;
  z-index: 700;
  padding: 0px 1.5rem;
}
.cart-wrapper.deactive {
  right: -60vw;
}
.cart-wrapper::-webkit-scrollbar {
  display: none;
}

.empty-cart-notice {
  border: solid 0.8px black;
  padding: 40px;
  color: black;
  margin: 2rem 0rem;
  text-align: center;
  font-weight: bold;
}

.cart-product-list {
  position: relative;
  overflow-y: scroll;
}
.cart-product-list::-webkit-scrollbar {
  display: none;
}