.home-product-list-wrapper {
  width: 100%;
  aspect-ratio: 4 / 1;
  padding: 20px;
  position: relative;
}

.list-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.home-product-list { 
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
