.product-detail-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.product-detail-images {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.product-detail-images > img {
  width: 100%;
  margin-bottom: 8px;
}

.product-detail-information-wrapper{
  position: sticky;
  top: 35%;
  left: 60%;
  font-size: 1rem;
}

.product-detail-information-wrapper > h2 {
  font-size: 1.4rem;
}
.product-detail-information-wrapper > hr {
  margin: 12px 0px;
}

.product-detail-information-table th{
  padding: 8px 10px;
}

.product-detail-information-table select {
  padding: 2px 4px;
}

.product-detail-buttons {
  margin-top: 1rem;
}

.product-detail-buttons > button {
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transform: translate(-2px, -2px);
  transition: transform 0.2s;
}

.product-detail-buttons > button:active {
  transform: translate(0px, 0px);
}

.add-cart {
  background-color: black;
  color: white;
  border: white solid 1px;
  margin-right: 10px;
}

.like-product{ 
  background-color: white;
  border: white solid 1px;
}