.header {
  width: 100%;
  height: 80px;
  background-color: black;
  border-bottom: 1px white solid;
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 20px;
  z-index: 1000;
}

.header-menu-button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  float: left;
}

.header-menu-button > svg {
  width: 32px;
  height: 32px;
}

.header-logo-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-menu-list {
  display: flex;
  float: right;
}

.header-menu-item {
  padding: 10px;
  font-size: 1rem;
  margin-left: 8px;
  cursor: pointer;
}