.login-wrapper,
.signup-wrapper {
  width: 100%;
  height: calc(100vh - 80px - 400px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-height: 1000px) {
  .login-wrapper,
  .signup-wrapper {
    height: calc(100vh - 80px - 200px);
  }
}

#login-form,
#signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 500px;
}

.login-form-label,
.signup-form-label {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

#login-form > input,
.signup-input-wrapper input {
  width: 100%;
  padding: 0.4rem;
  box-sizing: border-box;
  margin-bottom: 0.8rem;
}

#id-input {
  margin-bottom: 1rem;
}

#login-detail {
  width: 100%;
  position: relative;
  font-size: 0.9rem;
  margin-top: 1.5rem;
}

#find-wrapper {
  position: absolute;
  right: 50%;
  bottom: 0%;
  transform: translateX(50%);
  display: flex;
}

#find-id::after {
  content: "";
  flex-grow: 1;
  background-color: white;
  height: 0.6rem;
  width: 1px;
  margin: 0px 10px;
  display: inline-block;
  line-height: 1rem;
}

#id-input,
#pw-input {
  width: 100%;
}

.signup {
  float: left;
}

#save-id-wrapper {
  float: right;
}

.signup-input-wrapper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.signup-input-wrapper > label {
  width: 27%;
  text-align: start;
  margin-right: 3%;
}

.signup-input-wrapper > input {
  width: 70%;
  box-sizing: border-box;
}

.signup-input-wrapper > input.deactive {
  border: red 6px solid;
}

.signup-input-wrapper > label::before {
  content: "·";
  font-size: large;
  color: red;
  margin-right: 10%;
}

#signup-detail {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 0.5rem;
}
