.footer{
  height: 400px;
  padding: 1.5rem 3rem;
  border-top: 1px white solid;
}

.footer-left-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}

.footer-center-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-right-info {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
}

.footer-info-title {
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 600;
}
.footer-info-title.sec {
  margin-top: 10px;
}

.footer-info-detail {
  font-size: 0.7rem;
  line-height: 1.3rem;
}

.footer-copyright {
  font-size: 0.7rem;
}

@media (max-height: 1000px) {
  .footer{
    height: 200px;
    padding: 1.2rem 1.3rem;
    display: flex;
    justify-content: space-between;
  }
  .footer-left-info, .footer-right-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-center-info {
    flex-grow: 1;
  }
}